.ka {
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.ka-thead-cell {
  color: #202223;
}
.ka-thead-background {
  background-color: white;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .ka table {
    width: 100%;
    border-collapse: collapse;
  }
  .responsive-demo .ka table {
    border-collapse: collapse;
    /* Force table to not be like tables anymore */
  }
  .responsive-demo .ka table,
  .responsive-demo .ka thead,
  .responsive-demo .ka tbody,
  .responsive-demo .ka th,
  .responsive-demo .ka td,
  .responsive-demo .ka tr {
    display: block;
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .responsive-demo .ka thead {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .responsive-demo .ka tr:nth-of-type(even) {
    background: #f6f6f6;
  }
  .responsive-demo .ka tr:nth-of-type(even) td {
    border-bottom: 1px solid white;
  }
  .responsive-demo .ka tr {
    border: 1px solid #ccc;
  }
  .responsive-demo .ka td.ka-cell {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  .responsive-demo .ka td.ka-cell:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);
    color: #000;
    font-weight: bold;
  }
}
